* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgb(255, 255, 255), rgba(0, 0, 0, 0.226)),
    url("background.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
}

nav {
  display: flex;
  padding: 0% 5%;
  justify-content: space-between;
  align-items: center;
}

nav img {
  width: 125px;
  padding-top: 10%;
}

.nav-links {
  flex: 1;
  text-align: right;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
  z-index: 10;
}

.nav-links ul li a {
  color: rgb(3, 3, 3);
  text-decoration: none;
  font-size: 20px;
}

.nav-links ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #f51000;
  display: block;
  margin: auto;
  transition: 0.3s;
}
.nav-links ul li:hover::after {
  width: 100%;
}

.title {
  width: 100%;
  color: rgb(0, 0, 0);
  position: absolute;
  top: 8%;
  left: 40%;
  transform: translate(-60%, -50%);
  text-align: center;
  /* text-shadow: #f51000; */
  z-index: 7;
}

.title h1 {
  font-size: 45px;
  text-shadow: 2px 4px 5px red;
}

.title p {
  margin: 10px 0 40px;
  font-size: 14px;
  color: black;
  z-index: 8;
}

.contactBtn {
  display: inline-block;
  text-decoration: none;
  color: black;
  border: 1px solid black;
  padding: 12px 34px;
  font-size: 13px;
  background: transparent;
  position: relative;
  cursor: pointer;
}

.contactBtn:hover {
  border: 1px solid rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  transition: 0.3s;
}

#logo {
  position: relative;
  z-index: 10;
}

@media (max-width: 700px) {
  .title h1 {
    font-size: 20px;
  }
  .nav-links ul li {
    display: block;
  }
  .nav-links {
    position: absolute;
    background: red;
    height: 100vh;
    width: 200px;
    top: 0;
    right: 0;
    text-align: left;
    z-index: 2;
  }
}

/* computers */

.showComputers {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}

.showComputers h1 {
  font-size: 36px;
  font-weight: 600;
  text-shadow: 3px 3px 3px rgb(93, 70, 70);
}

.showComputers p {
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}

.showComputers img {
  width: 200px;
  border-radius: 10px;
  margin-top: 5px;
}

.computerSel {
  flex-basis: 30%;
  background: rgb(237, 237, 237);
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0.5s;
}
.computerSel h3 {
  text-align: center;
  font-weight: 600;
  margin: 10px 0;
}

.computerSel:hover {
  box-shadow: 0 0 30px 0px rgba(0, 0, 0, 0.2);
}

#overkill {
  width: 100px;
}

.inputComp {
  width: 600px;
}

.row {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 700px) {
  .row {
    flex-direction: column;
  }
}
